{% extends 'admin/base.html' %}

{% load static %}

{% block content %}
<div class="container">
    <div class="page-inner">
        <div class="page-header">
            {% comment %} <h3 class="fw-bold mb-3">User Managment</h3> {% endcomment %}
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="{% url 'admin_dashboard' %}">
                    <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="{% url 'admin_dashboard' %}">Algorithms</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item fw-bold">
                    <a href="#">Algorithms Comparision</a>
                </li>
            </ul>
        </div>

        <div class="row d-flex justify-content-center">

            <div class="col-md-12">
                <div class="card card-clean card-annoucement card-round d-flex justify-content-center align-items-center" id="graph_card">
                    <div class="comGraph_Ctn p-3">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const xValues = ['Decision Tree', 'SVM', 'Logistic Regression'];
        const yValues = [{{decision_accuracy}}, {{svm_accuracy}}, {{logistic_accuracy}}];
        const barColors = ["rgb(255, 182, 193, 0.5)", "rgb(255, 204, 153, 0.5)","rgb(255, 255, 179, 0.5)", "rgb(152, 251, 152, 0.6)", "rgb(173, 216, 230, 0.6)", "rgb(176, 178, 255, 0.6)", "rgb(198, 143, 230, 0.6)", "rgb(221, 160, 221, 0.6)"];
        
        new Chart("myChart", {
            type: "bar",
            data: {
                labels: xValues,
                datasets: [{
                    label: "Accuracy",
                    backgroundColor: barColors,
                    borderWidth: 2,  // Set the border width
                    borderRadius: 5,  // Set the border radius
                    data: yValues,
                    barThickness: 80,  // Set the bar width to 50px
                    maxBarThickness: 100  // Set the maximum bar width to 50px
                }]
            },
            options: {
                legend: { display: true },
                title: {
                    display: true,
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            stepSize: 10
                        }
                    }]
                }
            }
        });
    </script>
</div>
{% endblock %}
