{% extends 'admin/base.html' %}

{% load static %}

{% block content %}
<div class="container">
    <div class="page-inner">
        <div class="page-header">
            {% comment %} <h3 class="fw-bold mb-3">User Managment</h3> {% endcomment %}
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="{% url 'admin_dashboard' %}">
                    <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="{% url 'admin_dashboard' %}">User Managment</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item fw-bold">
                    <a href="#">All Users</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card" id="admin_card">
                    <div class="card-header d-flex justify-content-between">
                      <h4 class="card-title">All Users</h4>
                      <a href="{% url 'deleteAll_users' %}" onClick="return confirm('All items will be deleted permenantly, Are you sure you want to proceed?')" class="btn btn-label-danger btn-round me-2">Delete All</a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table
                            id="basic-datatables"
                            class="display table table-hover"
                            >
                            <thead>
                                <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone Number</th>
                                <th>User Status</th>
                                <th>Action</th>
                                </tr>
                            </thead>
                            {% comment %} <tfoot>
                                <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Office</th>
                                <th>Age</th>
                                <th>Start date</th>
                                <th>Salary</th>
                                </tr>
                            </tfoot> {% endcomment %}
                            <tbody>
                              {% for user in all_users %}
                                <tr>
                                <td class="tableCell"><img src="/media/{{ user.user_image }}" alt="Avatar" class="rounded-circle tableProfileImg" /> <strong>{{user.full_name}}</strong></td>
                                <td class="tableCell">{{user.full_name}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.phone_number}}</td>
                                {% if user.user_status == "accepted" %}
                                  <td><span class="badge badge-success badgeEl">{{user.user_status}}</span></td>
                                {% elif user.user_status == "rejected" %}
                                  <td><span class="badge badge-danger badgeEl">{{user.user_status}}</span></td>
                                {% endif %}

                                <td>
                                    <div class="dropdown">
                                        <button
                                          class="btn btn-icon btn-info me-0"
                                          type="button"
                                          id="dropdownMenuButton"
                                          data-bs-toggle="dropdown"
                                          aria-haspopup="true"
                                          aria-expanded="false"
                                        >
                                          <i class="fas fa-ellipsis-h"></i>
                                        </button>
                                        <div
                                          class="dropdown-menu"
                                          aria-labelledby="dropdownMenuButton"
                                        >
                                          <a class="dropdown-item text-warning" href="{% url 'change_status' user.user_id %}" onClick="return confirm('User status will be changed, are you sure you want to proceed?')"><i class="fa-solid fa-rotate text-warning m-2"></i>Change Status</a>
                                          <a class="dropdown-item text-danger" href="{% url 'delete_user' user.user_id %}" onClick="return confirm('User will be deleted permenantly, are you sure you want to proceed?')"><i class="fa-solid fa-trash text-danger m-2"></i>Delete User</a>
                                        </div>
                                    </div>
                                  </td>
                                </tr>
                                {% endfor %}
                                <tr>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
      $("#basic-datatables").DataTable({});

      $("#multi-filter-select").DataTable({
        pageLength: 5,
        initComplete: function () {
          this.api()
            .columns()
            .every(function () {
              var column = this;
              var select = $(
                '<select class="form-select"><option value=""></option></select>'
              )
                .appendTo($(column.footer()).empty())
                .on("change", function () {
                  var val = $.fn.dataTable.util.escapeRegex($(this).val());

                  column
                    .search(val ? "^" + val + "$" : "", true, false)
                    .draw();
                });

              column
                .data()
                .unique()
                .sort()
                .each(function (d, j) {
                  select.append(
                    '<option value="' + d + '">' + d + "</option>"
                  );
                });
            });
        },
      });

      // Add Row
      $("#add-row").DataTable({
        pageLength: 5,
      });

      var action =
        '<td> <div class="form-button-action"> <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

      $("#addRowButton").click(function () {
        $("#add-row")
          .dataTable()
          .fnAddData([
            $("#addName").val(),
            $("#addPosition").val(),
            $("#addOffice").val(),
            action,
          ]);
        $("#addRowModal").modal("hide");
      });
    });
</script>
    
{% endblock %}